<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta property="og:image" content="https://bit.ly/30Kj0bh" />
  <meta property="og:description" content="Auto-Forecasting is a web application that takes in an excel file with univariate time series data and provides forecasts. Auto-Forecasting works on SARIMA modeling." />
  <meta property="og:title" content="Auto-Forecasting" />
  <meta charset="UTF-8">
  <title>Time series forecasting</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>

<div>
<center>
<h2>Time Series Forecasting</h2>
<br>
<div align="center">
The web app has an interface with three steps:
<ul style="padding-left:15px;">
<li style="margin-left:15px;text-align:left;padding-left:0px;">Step 1:	Choose an excel file with your data (format allowed: .xls or .xlsx). Preferably the file should have two columns: Date and Values (historical sales, visitors on a website, gold prices, stock prices, etc.)</li>
<li style="margin-left:15px;text-align:left;padding-left:0px;">Step 2:	Choose the confidence interval that you like. The options provided are 99% CI, 95% CI, and 90% CI.</li>
<li style="margin-left:15px;text-align:left;padding-left:0px;">Step 3:	Choose the forecast length of your wish. The options provided range from 1 month to 12 months (The forecasting model only provides monthly forecasting regardless of date format on input file as of now).</li>
</ul>
</div>

By clicking on forecast button, the the model reads the excel file and converts the date into YYYY-MM-DD format if not in that format already. If the data is in daily format, it will sum by grouping the values from the same month and takes an average of the month. The new data is run through a series of SARIMA models. The model with best <a href="https://en.wikipedia.org/wiki/Akaike_information_criterion" style="color: black" target="_blank">AIC</a> is chosen and will fit that model to the data, and generate the forecasts with the confidence intervals and display in a table format.
<br><br><br><br>
</body>

 <footer class="footer">
  <CENTER>
  <a href="{{ url_for('home')}}" style="color:black;text-decoration:none;font-family:Helvetica;font-size:95%; padding-bottom:10px">Home </a>  
  <a href="{{ url_for('about')}}" style="color:black;text-decoration:none;font-family:Helvetica;font-size:95%; padding-bottom:10px">| About </a>
  <a href="{{ url_for('helps')}}" style="color:black;text-decoration:none;font-family:Helvetica;font-size:95%">| Help</a>
  </CENTER>
</footer>
</html>
